@model slnUnisysV2.Models.VMUsuarioLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UNISYS - SIMA S.A</title>
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="~/img/wave3.png" />
    <div class="container">
        <div class="img">
            <img src="~/img/6525265.webp" />
        </div>
        <div class="login-content">
            <form asp-controller="Seguridad" asp-action="Login" method="post">
                <img src="~/img/avatar.svg" />
                <h2 class="title">S3 SIMA</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Usuario</h5>
                        <input type="text" class="input" asp-for="Correo" />
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contraseña</h5>
                        <input type="password" class="input" asp-for="Clave" />
                    </div>
                </div>
                <input type="submit" class="btn" value="Iniciar Session">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="~/js/login.js"></script>
</body>
</html>
